{{> nav.hbs}}
{{#partial "content"}}

    <div class="index d-flex flex-column">
        <h1 class="p-2">i-TRACK WILDLIFE</h1>
        <div class="infoAboutWeb d-flex gap-5">

            <div class="card " style="width: 18rem; margin: 2rem 0;">
                <img src="https://images.unsplash.com/photo-1620083250114-18b39e34fb1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHdpbGRsaWZlfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b style="color:black">Animal</b></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/animals/new" class="plus-icon bg-success rounded-pill p-3 shadow-lg">
                        <i class="fas fa-plus"></i>
                    </a>

                </div>
            </div>

            <div class="card " style="width: 18rem; margin: 2rem 0;">
                <img src="https://images.pexels.com/photos/7510169/pexels-photo-7510169.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b style="color:black">Endangered modal.Animals</b></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/endangeredAnimal" class="plus-icon bg-warning rounded-pill p-3 shadow-lg">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="card " style="width: 18rem; margin: 2rem 0;">
                <img src="https://www.careerstep.com/wp-content/uploads/2017/02/magnifying_glass.jpg" class="card-img-top border" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><b style="color:black">Animal Sightings</b></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/animal/new" class="plus-icon bg-danger rounded-pill p-3 shadow-lg">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

{{/partial}}
{{> layout.hbs}}