{{#partial "content"}}
        <ul class="nav shadow-lg ">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="color:#fff;">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new/animal">ANIMALS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new/sighting">SIGNTING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/animal/list">RECORDS</a>
            </li>
        </ul>


{{/partial}}
{{> layout.hbs}}